page-myorder {
.red{
    color: red;
    font-size: 15px;
    font-weight: 500;   
}

.noprod{
    text-align: center;
    margin-top: 40%;
    font-size: 20px;
    font-weight: 500;
    color: darkgrey
  }
  .orderid{
    font-size: 18px;
    font-weight: 600;
  }
}
