page-wholseller {
.img{
    height: 100px;
}

.card-title-md {
    display: block;
    font-size: 14px !important;
    white-space : nowrap;
    text-align: center;


}
ion-card img {
    display: block;
    width: 76%;
    text-align: center;
    margin-left: 20px;
}
}
