page-productdetails {

  .scroll-content {
    left: 0;
    right: 0;
    top: 45px;

}
    .thumb-img {
        padding: 10px;
    }
    .desc{
      padding: 8px;
    }
    ion-slides {
      display: block;
      width: 100%;
      height: 50%;
      margin-top: 0%;
    }
    .price{
        color: red;
        font-size: 24px;
        font-weight: 500;
    }

    .qtyInput{
        margin-top: 22px;
        border: 1px solid;
          height: 35px;
          border-color: #053f0f;
      }
      
      .text-input-md {
        margin: 8px 8px;
        padding: 0;
        width: calc(100% - 8px - 8px);
      }
      h3 {
        color: #d8d0d0 ;
        font-size: 14px;
         margin-left: 3px;
        position: relative;
        width: 87%;
        }
        
        h3:after {
            position: absolute;
            content: "";
            height: 2px;
            background-color: #d8d0d0;
            width: 87%;
            margin-left: 15px;
            top: 50%;
        }
        .varians{
            height: 45px;
              width: 76px;
              border-radius: 25px;
          }
          ion-scroll {
            height: 100px;
            white-space: nowrap;
            background-color: #99b766b5;
            .item {
              display: inline;
              .item-inner {
                display: inline-flex;
                border-bottom: 0px solid #c8c7cc !important;
          
                  }
                }
              }
            .smIcon{
              margin-right: 6px;
              font-weight: 700;
              color: #fff;
              margin-right: 17px;
            }
            .sku{
              font-size: 16px;
              font-weight: 500;
            }
     
}
